
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/0e2d1aac-c224-4364-bae4-00519e663058.vsidx
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/1424fc07-30f8-446e-a871-cdb34851cef6.vsidx
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/3464d655-d191-4633-82db-0ecf1b72e95a.vsidx
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/b20a721d-472e-4899-be27-1ca42a42c3c2.vsidx
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/6e94cf1e-bfd2-411f-b649-372418458c9d.vsidx
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/e68fc7ff-ad25-4efb-8217-b24efedd0172.vsidx
ConsoleWorkerFullTest/.vs/ProjectEvaluation/consoleworkerfulltest.metadata.v2
ConsoleWorkerFullTest/.vs/ConsoleWorkerFullTest/FileContentIndex/6e94cf1e-bfd2-411f-b649-372418458c9d.vsidx
